@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --currout: 2.2rem; --prevout: 1.2rem;
  --bodybg: #775737; --default: #282828; --title: #bfaf4f; --button:#efefef;
  --display: #9fb29f;
  --red: #ff4f6f; --orange: #ef9f00; --green: #6fcf8f; --blue: #6fafef;
  --border0: #6faf6f9f; --border1: #2f6f2f;
  --shadow0: #402421bf; --shadow1: #4024218f; --shadow2: #4024215f;
  --shadow3: #4024213f;
  --graddev0: #022b00; --graddev1: #001f00;
  --gradbg0: #402421; --gradbg1: #5b3c21; --gradbg2: #624f25;
  --gradbg3: #301411; --gradbg4: #4b2c11; --gradbg5: #523f15;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cutive Mono", monospace;
  color: var(--default);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bodybg);
  background-size: 24px 12px;
  background-repeat: repeat;
  background-image:
  repeating-linear-gradient(135deg, var(--gradbg0), var(--gradbg1), var(--gradbg2), var(--gradbg1),
  var(--gradbg0), transparent 16.7%, transparent 63.1%, var(--gradbg0), var(--gradbg1), var(--gradbg2),
  var(--gradbg1), var(--gradbg0), transparent 83.3%, transparent),
  repeating-linear-gradient(0deg,transparent, transparent 25%, var(--gradbg3), var(--gradbg4),
  var(--gradbg5), var(--gradbg4), var(--gradbg3), transparent 75%, transparent),
  repeating-linear-gradient(135deg, transparent, transparent 29.8%, var(--gradbg0),
  var(--gradbg1), var(--gradbg2), var(--gradbg1), var(--gradbg0), transparent 50%, transparent,
  transparent 96.4%, var(--gradbg0));
}

#case {
  background-image: repeating-linear-gradient(var(--graddev0) 0px, var(--graddev0) 2px, var(--graddev1) 2px, var(--graddev1) 4px);
  width: 320px;
  min-width: 320px;
  height: 520px;
  min-height: 520px;
  border: 7px outset var(--border0);
  border-radius: 16px;
  outline: 2px ridge var(--shadow3);
  outline-offset: 1px;
  box-shadow: 80px 40px 50px 0px var(--shadow0),
  100px 60px 70px 10px var(--shadow1),
  120px 80px 90px 20px var(--shadow2),
  160px 120px 120px 50px var(--shadow3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#cover {
  width: 95%;
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: "Splash", cursive;
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--title);
}

#display {
  user-select: text;
  width: 95%;
  height: 80px;
  text-align: right;
  border: 4px inset var(--border1);
  background-color: var(--display);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#display.error {
  text-align: left;
}

#prev-output {
  font-size: var(--prevout);
  height: 22px;
  margin-top: 0.2rem;
  padding: 0 0.1rem;
}

#curr-output {
  font-size: var(--currout);
  padding: 0 0.1rem;
}

#keypad {
  width: 95%;
  height: 300px;
  margin-top: auto;
  margin-bottom: 0.8rem;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button[data-key = "NumpadEnter"] {
  grid-column: 4;
  grid-row: 5 / 7;
}

button {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--button);
  border-radius: 16px 9px;
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}
